.whatsapp-float {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  background: #25d366;
  color: white;
  border-radius: 50%;
  text-decoration: none;
  font-size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

  z-index: 999;
  transition: 0.3s;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}
